@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 20;
  font-family: "Inter", "Lato", Arial;
}
body {
  background-image: url("./../image2/pattern-background-desktop.svg");
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mother-div {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 97vh;
  width: 60.6vh;
  border-radius: 20px;
  box-shadow: 10px 10px  10px 15px rgb(214,225,255);
}
.ann-plan {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-top: 30px;
  margin-left: 40px;
  padding: 20px 0px 20px 0px;
  border-radius: 20px;
  gap: 20px;
  background-color: #f2f2f2;
}
.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-tag {
  text-align: center;
  width: 70%;
  line-height: 25px;
  color: #9aa7ba;
}
.annual-plan {
  display: block;
}
.annual-plan p {
  margin-top: 7px;
}
.music-img {
  margin-left: 17px;
}
.annual-plan h4 {
  margin: 0;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.proceed-btn {
  background-color: blue;
  padding: 13px 90px 13px 90px;
  border-radius: 10px;
  border: 1px solid blue;
}
a:link {
  text-decoration: none;
}
.cancel-btn {
  background-color: white;
  padding: 10px 110px 10px 110px;
  border-radius: 10px;
  border: 1px solid white;
}
.btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
