@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 20;
  font-family: "Inter", "Lato", Arial;
}
body {
  background-color: #141414;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-jes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0; */
}
.main-jes > p {
  margin: 0px;
}
.main-div {
    display: flex;
    flex-direction: column;
    background-color: #1F1F1F;
    height: 87vh;
    width: 53vh;
    margin-top: 50px;
    border-radius: 10px;
}
.div-p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.btn-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 13px;
}
.btn-1 {
  padding: 10px 115px 10px 115px;
  background-color: #333333;
  border-radius: 7px;
  border: 1px solid #333333;
}
.btn-2 {
  padding: 10px 85px 10px 85px;
  background-color: #333333;
  border-radius: 7px;
  border: 1px solid #333333;
}
.btn-3 {
  padding: 10px 110px 10px 110px;
  background-color: #333333;
  border-radius: 7px;
  border: 1px solid #333333;
}
.btn-4 {
  padding: 10px 114px 10px 114px;
  background-color: #333333;
  border-radius: 7px;
  border: 1px solid #333333;
}
.btn-5 {
  padding: 10px 105px 10px 105px;
  background-color: #333333;
  border-radius: 7px;
  border: 1px solid #333333;
}
a:link {
  text-decoration: none;
}
a {
  color: white;
}
.btn-1:hover {
  background-color: lime;
  cursor: pointer;
}
.btn-2:hover {
  background-color: lime;
  cursor: pointer;
}
.btn-3:hover {
  background-color: lime;
  cursor: pointer;
}
.btn-4:hover {
  background-color: lime;
  cursor: pointer;
}
.btn-5:hover {
  background-color: lime;
  cursor: pointer;
}